body {
  background-color: black;
  color: white;
}

table {
  border-color: white;
}

a {
  color: white;
}

.client_div {
  display: inline-block;
  width: 200px;
  margin: 10px;
  text-align: center;
}

.client_img {
  width: 100%;
}
