.number_area {
	position: relative;
	width: 600px;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

.number_area div {
  display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #EEE;
	border: 1px solid #BBB;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}

.keyboard_area {
	position: relative;
	width: 170px;
	height: 110px;
	margin: auto;
}

.keyboard_area div {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #EEE;
	border: 1px solid #BBB;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}

.keyboard_up {
	top: 0px;
	left: 60px;
}

.keyboard_left {
	top: 60px;
	left: 0px;
}

.keyboard_down {
	top: 60px;
	left: 60px;
}

.keyboard_right {
	top: 60px;
	left: 120px;
}

.btn-nohover:not(.active):hover {
  background-color: transparent !important;
  color: #6c757d !important;
}

.btn-nohover:focus {
  box-shadow: none !important;
}

#cam_pic {
	width: 100%;
	max-width: 450px;
	margin: auto;
	display: block;
}

#touch_input_area {
	position: relative;
	width: 172px;
	height: 172px;
	margin: auto;
	border: 1px solid #BBB;
	border-radius: 28px;
}

#touch_ctrl {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #EEE;
	border: 1px solid #BBB;
	border-radius: 50%;
	background-color: #AAA;
	border: 1px solid #666;
}

