.number_area {
	position: relative;
	width: 600px;
	height: 60px;
	margin: auto;
	text-align: center;
	margin-bottom: 10px;
}

.number_area div {
  display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #EEE;
	border: 1px solid #BBB;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

.keyboard_area {
	position: relative;
	width: 170px;
	height: 110px;
	margin: auto;
}

.keyboard_area div {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #EEE;
	border: 1px solid #BBB;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}

.keyboard_up {
	top: 0px;
	left: 60px;
}

.keyboard_left {
	top: 60px;
	left: 0px;
}

.keyboard_down {
	top: 60px;
	left: 60px;
}

.keyboard_right {
	top: 60px;
	left: 120px;
}

